<h1>Ruta 1</h1>


<div class="animated wow tada">
        <h1>Ejemplo con angular</h1>

        <label>Nombre:</label>
        <input type="text" ng-model="yourName" placeholder="Ingrese su nombre">
        <hr>
        <h1>Hola {{yourName}}!</h1>
    </div>
    <h1 class="animated wow tada">Ejemplo con angular</h1>

    <label class="animated tada wow">Nombre:</label>
    <input class="animated tada wow" type="text" ng-model="yourName" placeholder="Ingrese su nombre">
    <hr>
    <h1 class="animated tada wow">Hola {{yourName}}!</h1>


    <h1 class="centrar">
        Mi primer pagina Web
    </h1>