    h1 {
        color: darkkhaki;
        text-align: center;
    }
    
    p {
        color: darkgreen;
    }
    
    h2 {
        color: red;
        text-align: center;
    }
    
    body {
        color: chartreuse;
    }
    
    .centrar {
        text-align: center;
    }

    #tabla1 {
    color: dodgerblue;
    }









